[package]
name = "ngyn"
version = "0.2.0"
edition = "2021"
description = "Modular backend framework for web applications"
license = "MIT"

[lib]
path = "src/lib.rs"

[dependencies]
nject = "0.3.0"
ngyn_macros = { path = "../macros", version = "0.2.1" }
ngyn_shared = { path = "../shared", version = "0.2.0" }
tide = "0.16.0"
vercel_runtime = { version = "1.1.0", optional = true }

[features]
vercel = ["dep:vercel_runtime"]
