[package]
name = "ngyn"
version = "0.2.6"
edition = "2021"
description = "Modular backend framework for web applications"
license = "MIT"

[lib]
path = "src/lib.rs"

[dependencies]
async-std = { version = "1.6.0", features = ["attributes"] }
nject = "0.3.0"
ngyn_macros = { path = "../macros", version = "0.2.6" }
ngyn_shared = { path = "../shared", version = "0.2.6" }
tide = { version = "0.16.0", optional = true }
vercel_runtime = { version = "1.1.0", optional = true }

[features]
tide = ["dep:tide", "ngyn_shared/tide"]
vercel = ["dep:vercel_runtime"]
