name: PR Workflow
on:
  pull_request:
    types: [ready_for_review]
  push:
    branches:
      - dev
      - main
  workflow_dispatch:
    inputs:
      rustc_version:
        description: "Rustc version"
        required: true
        default: "1.80.0"

jobs:
  check:
    name: Static Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Install msrv toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ github.event.inputs.rustc_version || '1.80.0' }}

      - uses: Swatinem/rust-cache@v1

      - name: Run cargo check
        uses: actions-rs/cargo@v1
        with:
          command: check

  test:
    name: Test Suite
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest] #, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Install msrv toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ github.event.inputs.rustc_version || '1.80.0' }}

      - uses: Swatinem/rust-cache@v1

      - name: Install cargo-expand
        run: cargo install cargo-expand

      - name: Run cargo test
        uses: actions-rs/cargo@v1
        with:
          command: test

  lints:
    name: Lints
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2
        with:
          submodules: true

      - name: Install msrv toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          components: rustfmt, clippy
          toolchain: ${{ github.event.inputs.rustc_version || '1.80.0' }}

      - uses: Swatinem/rust-cache@v1

      - name: Run cargo fmt
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check

      - name: Run cargo clippy
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: -- -D warnings
